* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bitcount Grid Single', cursive ;
}

.header-puppy {
    background-color: rgb(26, 26, 124);
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: xx-large;
    position: sticky;
    top: 0;
}

.header-puppy:hover {
    text-decoration: underline;
    color: rgb(171, 171, 184);
    padding-top: 5px;
    cursor: pointer;
}

.img{
   
    background-color: white;   
    width: 100%;
    height: 300px;
    
}

.img2 {
    width:100%;
    max-height: 300px;
    padding : 0px 100px;
      
} 

.img2:hover {
   margin-top: 10px;
}


.middle-puppy {
 
    background-color: rgb(253, 249, 249);
   max-height:300px;
     width: 800px; 
    display: flex;
    flex-direction: row;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   
    
}


.img_dog1 {
    max-height: 300px;
    max-width: 350px;
     /* margin-left: 20px;  */
}

.letter {
    background-color: #be2121;
    max-height: 300px;
    max-width: 350px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 20px;
}

p:hover {
    text-transform: uppercase;
    padding : 10px;
    cursor: pointer;
}

.img_dog2 {
    max-height: 300px;
   max-width: 350px;
    
}


.more {
   
    text-align: center;
    max-height: 40px;
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    font-size: xx-large;
    width:fit-content;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 3px;
}

.more:hover {
    
    color: rgb(97, 39, 39);
    cursor: pointer;
    margin-top: 5px;
  
}

.dog3_4{
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.dog1:hover , .dog2:hover , .dog3:hover , .dog4:hover{

   padding : 10px;
}

.dog3_img {
    max-height: 300px;
    max-width:350px;  
    margin-right: 10px;
}

.dog4_img {
    max-height: 300px;
    max-width: 350px;
}

.footer {
    background-color: rgb(26, 26, 124);
    height: 100px;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev:hover {
    
    color: rgb(59, 59, 95);
    cursor: pointer;
   
}

